afp_arb/
afp_arb_plain/
AWN/
AWNHelpFiles/
bin/
context_sensitive_spell_chk/lib/*.jar
context_sensitive_spell_chk/lib/*tagger*
context_seneitive_spell_chk/__pycache__
images/
KBs/
libs/
licenses/
out/*
out\*/
__pycache__/
queryAWOntology-src/
src/
wordnet/
*.jar
config*.xml
derby.log
final_result.txt
log.txt
Readme_hypernym.txt
run.log
runAWN*
temp*.py
temp*.txt
upc_db.xml
words_list.txt
config.cfg_bak
.DS_Store
.idea
*~
*.pyc